{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <meta name="Autor" content="Lothar Soto Palma">
    <title>Restaurantes {% block title%}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div id = "overflow-bar">
        <img id = "index_img" src="{% static 'img/restaurant1.jpg' %}">
      </div>
      <nav id = "index_nav" class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="{% url 'index' %}" class="pure-menu-link">Inicio</a></li>
          <li class="pure-menu-item"><a href="{% url 'stadistics' %}" class="pure-menu-link">Información</a></li>
          <li class="pure-menu-item"><a href="{% url 'find_restaurant_view' %}" class="pure-menu-link">Buscar Restaurante</a></li>
          {% if user.is_authenticated %}
            <li class="pure-menu-item"><a href="{% url 'create_restaurant' %}" class="pure-menu-link">Registrar Restaurante</a></li>
            <li class="pure-menu-item"><a href="{% url 'edit_restaurant' %}" class="pure-menu-link">Modificar Restaurante</a></li>
          {% endif %}
        </ul>
      </nav>
      <div id="login">
        {% if user.is_authenticated %}
          <h3>Bienvenido {{ user.username }}</h3>
          <a href="{% url 'auth_logout' %}" style="margin: 10% 0;" class="pure-button pure-button-primary pure-menu-link">Logout</a>
          <a href="{% url 'change_password' %}" style="margin: 10% 0;" class="pure-button pure-button-primary pure-menu-link">Cambiar password</a>
        {% else %}
          <h3>Bienvenido</h3>
          <a href="{% url 'auth_login' %}" style="margin: 10% 0;" class="pure-button pure-button-primary pure-menu-link">Login</a>
          <a href="{% url 'registration_register' %}" style="margin: 10% 0;" class="pure-button pure-button-primary pure-menu-link">Register</a>
        {% endif %}
      </div>
    </header>
    {% block body %}
    {% endblock %}
    <footer class="pure-g">
      <div class="pure-u-1-2"><h3>Lothar Soto Palma</h3></div>
      <div class="pure-u-1-2">
        <h3>Redes sociales</h3>
        <ul class="pure-menu-list">
          <li><a href="https://github.com/Lothar94"><img src="http://www.freepngimg.com/download/github/1-2-github-free-png-image.png" height=50/></a></li>
          <li><a href="https://twitter.com/Lothar94" style="margin-left: 4px;"><img src="http://pluspng.com/img-png/twitter-png-logo-blue-twitter-twitter-logo-twitterbird-twitterbird-logo-icon-download-png-607.png" height=42/></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
